<div class="game_status">
  <% if @game.begun? %>
    <div class="rounds">
      <span class="hidden my_round" > Your turn </span>
      <span class="hidden opponent_round" > <%= current_user.opponent_in(@game).login %>'s turn </span>
    </div>
  <% end %>
</div>

<div class="game_box" style="width:<%= 38 * @game.width + 8 %>px; height:<%= 38 * @game.height + 8 %>px;" data-url="<%= play_game_path(@game) %>" data-sync="<%= game_path(@game) %>" >
  <% (0..(@game.height - 1)).each do |i| %>
    <% (0..(@game.width - 1)).each do |j| %>   
      <%= render partial: 'block', locals: {block: @game.block_at(i,j), i: i, j: j} %>
    <% end -%>
    <div class="clearfix"></div>
  <% end -%>
  <div class="clearfix"></div>
</div>
